				<div class="endpoint">
                  	<div class="endpoint-method endpoint-method-{{ section.requestMethod }}">{{ section.requestMethod }}</div>
                  	<div class="endpoint-url">
                    	<span class="endpoint-url-domain">{{ API_URL }}</span><span class="endpoint-url-slug">{{ section.endpoint }}</span>
                    	<a href="#" class="endpoint-url-copy">copy</a>
                  	</div>
                </div>