                <div class="code-snippet{{ section.sidebar.class }}">
                    <div class="code-snippet-title">{{ section.sidebar.title }}</div>
                    <div class="code-snippet-code hilite">
                        <pre><code class="{{ section.sidebar.lang }}">{{ section.getFormattedSidebarCode }}</code></pre>
                    </div>
                </div>