				<div class="code-snippet code-snippet-lite">
                  	<div class="code-snippet-title code-snippet-title">
                  		Response:
                  		<span class="code-snippet-title_response-code">{{ section.getVerboseResponseStatus }}</span>
                  	</div>
                  	<div class="code-snippet-code hilite json">
                    <pre><code>{{ section.getResponseObject }}</code></pre>
                  </div>
                </div>